<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Menü</div>



                @*<a class="nav-link" href="/admin/blog/Insert">  *@
                <a class="nav-link" asp-area="Admin" asp-controller="Blog" asp-action="Insert">
                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                Makaleler
                </a>
                <a class="nav-link" href="index.html">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Yazarlar
                </a>


            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Giriş Yapıldı</div>
            Admin
        </div>
    </nav>
</div>
